.ads {
  width: 100%;
  background: #FBFBFB;
  padding: 10px 0;

  p {
    font-family: Oswald, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-align: center;
    margin-bottom: 0;
  }
}
